<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Создание</title>
</head>
<body>
  <h1>Создать лот</h1>

  <form method="post">
      {% csrf_token %}

      <input type="text" name="name" placeholder="Название" required>

      <textarea name="description" placeholder="Описание"></textarea>

      <label>Аукцион:</label>
      <select name="auction_id">
          {% for auction in auctions %}
              <option value="{{ auction.id }}">{{ auction.name }}</option>
          {% endfor %}
      </select>

      <input type="number" step="0.01" name="startprice" placeholder="Стартовая цена">
      <input type="number" step="0.01" name="reserveprice" placeholder="Резервная цена">

      <button type="submit">Создать</button>
  </form>
</body>
</html>

